<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page_title}}</title>
    <style>
      body {
        background-image: url("data:{{image_mime}};base64,{{image_base64}}");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
  </head>
  <body>
  </body>
</html>
